@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    background-color: #edf6f9;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #358f80;
    padding: 30px;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 3em;
    color: #07beb8;
    text-align: center;
    text-shadow: 2px 4px 2px #036666;
}

.foto-descricao {

    height: 320px;
    position: relative;
}
.foto {
    width: 140px;
    float: left;
    padding: 10px;
    background-color: #83c5be;
}

.descricao {
    position: absolute;
    top: 110px;
    left: 200px;
    font-weight: bolder;
    line-height: 40px;
}

h2 {
    color:#036666;
}

li {
    list-style: none;
    font-weight: bolder;
}

ul li:nth-child(2n+1) {
    color: #0077b6;
}

.logo{
    width: 30px;
}

.contatos{
text-align: center;

}

.contatos a{
    text-decoration: none;
    color: #358f80;
}

.contatos a:hover{
    color: black;
}

.logo-contatos{
    width: 200px;
}